@media screen and (max-width: 1150px) {
  .container.contact_container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* --------------MEDIA QUERIES {SMALL DEVICES}-----------  */
@media screen and (max-width: 600px) {
    .container.contact_container {
    width: var(--container-width-sm);
  }
}
