/* --------------MEDIA QUERIES {MEDIUM DEVICES}-----------  */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

@media screen and (max-width: 1030px) {
  .header_socials,
  .scroll_down {
    display: none;
  }
}

/* --------------MEDIA QUERIES {SMALL DEVICES}-----------  */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header_socials,
  .scroll_down {
    display: none;
  }
}
